@import '../_variables';

.TabbedContent {
    position: relative;

    .navBar {
        position: relative;
        display: flex;
        flex-flow: row;
        transform: translateY(-2px);

        &.fixed {
            position: sticky;
            top: 0;
            z-index: 200;
        }

        .filler {
            flex-grow: 1;
            transform: scale(1.01);
        }

        .center {
            display: flex;
            flex-direction: row;
            max-width: 1100px;
            width: 1100px;
            flex-grow: 1;

            .navItem {
                flex-grow: 1;
                text-align: center;
                position: relative;
                cursor: pointer;
                min-height: 75px;
                overflow: hidden;
                transform: scale(1.01);

                &.selected {
                    h3 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 44px;
                        opacity: 1;
                    }

                    &.tick {
                        clip-path: polygon(calc(50% - 30px) 100%, 50% calc(100% - 30px), calc(50% + 30px) 100%, 100% 100%, 100% 0, 0 0, 0 100%);
                    }
                }

                clip-path: polygon(50% 100%, 50% 100%, 50% 100%, 100% 100%, 100% 0, 0 0, 0 100%);
                transition: all 200ms ease-in-out;

                h3 {
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 48px;
                    opacity: 0.8;
                    margin: 0;
                    transition: all 200ms ease-in-out;
                }
            }
        }
    }
}