.TheNet {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url('../assets/img/theNet.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}